<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css" />
<head>
  <title>Clients</title>
  
</head>
<body>
    
    <div class="options-panel">
    <form action="/sortEmployees" method="POST">
        <fieldset>
            <h3>Franchises</h1>
            <input type="checkbox" id="lafayette" name="lafayette">
            <label for="lafayette">Lafayette</label><br>
            <input type="checkbox" id="batonrouge" name="batonrouge">
            <label for="batonrouge">Baton Rouge</label><br>
            <input type="checkbox" id="neworleans" name="neworleans">
            <label for="neworleans">New Orleans</label><br><br>
            <input type="submit" name="submit" value="Submit">
        </fieldset>
    </form>
    </div>
    <div style="width: 50%; margin: auto; padding: 10px;">
    <div style="margin: 0 auto;">
        <div class="center-table">
        <h2>Clients</h2>
        <table border="1">
            <tr>
                <th>Client ID#</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Modify</th>
            </tr>
            
            <%
            if(employeeData.length!=0){
            var i=1;
            employeeData.forEach(function(data){
            %>
            <tr>
               
                <td><%=data.ClientID %></td>
                <td><%=data.Fname %> <%=data.Lname %></td>
                <td><%=data.PhoneNumber %></td>
                <td><a href="/employees/edit/<%=data.id%>">Edit</a>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data</td>
                </tr>
            <% } %>
        </table>
        </div>
    </div>
</body>
</html>
