<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jobs</title>
</head>
<body>
    
    <div style="float: left; width: 10%;">
    <form action="/sortEmployees" method="POST">
        <fieldset>
            <h3>Positions</h3>
            <input type="checkbox" id="movers" name="movers">
            <label for="movers">Mover</label><br>
            <input type="checkbox" id="managers" name="managers">
            <label for="manager">Manager</label><br>
            <h3>Franchises</h1>
            <input type="checkbox" id="lafayette" name="lafayette">
            <label for="lafayette">Lafayette</label><br>
            <input type="checkbox" id="batonrouge" name="batonrouge">
            <label for="batonrouge">Baton Rouge</label><br>
            <input type="checkbox" id="neworleans" name="neworleans">
            <label for="neworleans">New Orleans</label><br><br>
            <input type="submit" name="submit" value="Submit">
        </fieldset>
    </form>
    </div>
    <div style="width: 50%; margin: auto; padding: 10px;">
    <h2>Jobs</h2>
    <div style="margin: 0 auto;">
        <table border="1">
            <tr>
                <th>Date</th>
                <th>First Address</th>
                <th>Destination</th>
            </tr>
            
            <%
            if(employeeData.length!=0){
            var i=1;
            employeeData.forEach(function(data){
            %>
            <tr> 
                <td><%=data.Month %>-<%=data.Day %>-<%=data.jYear %></td>
                <td><%=data.OriginalStreetAddress %><br><%=data.OriginalCity %>, Louisiana</td>
                <td><%=data.DestinationStreetAddress %><br><%=data.DestinationCity %>, Louisiana</td>
                <td><a href="/jobs/edit/<%=data.JobID%>">Edit | </a>
                <a href="/jobs/delete/<%=data.JobID%>">Delete</a></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data</td>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>
